{% load static %}

    <div id="header">
        <div class="container-fluid">
   <nav class="navbar navbar-dark navbar-expand-lg justify-content-between">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/alto-logo-site.svg' %}" width="150" height="auto" alt="" class="img-fluid ps-3"/>
    </a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav align-items-center">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            <a class="nav-link" href="{% url 'home' %}#about">Sobre Nós</a>
            <a class="nav-link" href="{% url 'home' %}#service-section">Serviços</a>
            <a class="nav-link" href="{% url 'home' %}#works">Portfolio</a>
            <a class="nav-link" href="{% url 'home' %}#clients">Clientes</a>
            <a class="nav-link" href="{% url 'home' %}#convite-contato">Contato</a>
            <div class="d-flex flex-column justify-content-end">
                {% if request.user.is_authenticated %}
                    <a class="nav-link" href="{% url 'profile' user.id %}">Ver Perfil</a>
                    <a class="btn btn-primary button btn-theme-aquamarine my-1" href="{% url 'logout' %}">Logout</a>

                {% else %}
                    <a class="btn btn-primary button btn-theme-aquamarine my-1" href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
          </div>
    </div>

    <div style="display: hidden;">.</div>
        <button class="navbar-toggler custom-toggler m-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
   </nav>
    </div>
</div>




