body,
html {
    font-family: 'Montserrat', sans-serif;
}

#header {
    width: 100%;
    background-color: black;
    transition: background.ease-out 0.2s;
}

#header .navbar-collapse {
    width: auto;
}

#header .navbar-toggler .navbar-toggler-icon {
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 5px
}

#header .nav-link {
    color: white;
    font-weight: 500;
    border-bottom: solid 5px transparent;
}

#header .nav-link:hover {
    color: aquamarine;
    border-bottom: solid 5px var(--details-aquamarine);
}

#bg-container {
    background: rgb(7,224,179);
    background: linear-gradient(59deg, rgba(7,224,179,0.4962359943977591) 0%, rgba(255,255,255,1) 41%);
    margin: 0;
}

.slider {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 65vh;
        width: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
}

.slider #slider-text {
    position: relative;
    left: 3rem;
    z-index: 1;
}

.slider h1 {
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.slider h1 span{
    background-color: var(--primary-purple);
    border-radius: 2rem;
    border-color: var(--primary-purple);
    border-style: solid;
    border-width: 0.2rem 0.5rem; /* top and bottom, on the sides */
    color: white;
}

.slider h3 {
    font-weight: 500;
    font-size: 1rem;
}

#slider-btn {
    max-width: 30vw;
}


.slider #slider-image {
    object-fit: contain;
    min-width: auto;
    max-height: 50vh;
    position: relative;
    right: 10rem;
    z-index: 0;
}

#about {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: top;
    min-height: 30vh;
    padding: 3rem;


}

#about-image {
    min-width: 30vw;
}

#about-title {
    padding-left: 1rem;
}

#about-title h3 {
    font-weight: 700;
    font-size: 2rem;
    color: var(--primary-purple);
}

#about-title h4 {
    font-weight: 500;
    font-size: 1rem;
    color: var(--secondary-pink);
    padding-bottom: 1rem;
}

#service-section {
    display: flex;
    flex-flow: row wrap;
    background: rgb(99,17,225);
    background: linear-gradient(145deg, rgba(99,17,225,1) 0%, rgba(214,29,224,1) 83%, rgba(7,224,179,1) 100%);
    justify-content: center;
}

#service-section h2 {
    padding-top: 3rem;
    font-weight: 700;
    font-size: 2rem;
    color: white;
}

#services {
    margin: 2rem;
    padding-bottom: 2rem;
    width: 80vw;
    display: flex;
    flex-flow: row wrap;
}

#clients {
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    align-items: center;
    padding: 0.5rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    background: rgba(0, 0, 0, 0.05);
}

#clients h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem;
    color: var(--primary-purple);
    text-align: center;
    width: auto;

}

#clients-list {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 95vw;
}

.client-item {
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    padding: 4px;
    margin: 4px;
    width: 20vw;
    height: 20vh;
    background: white;
    box-shadow: none;
    transition: all ease-out 0.2s;
}

.client-item:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
}

.client-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    text-decoration: none;
    }

.client-item h3{
    color: var(--primary-purple);
    font-weight: 500;
}

.client-item img {
    width: 80%;
    height: auto;
    object-fit: contain;
    align-self: center;
    transform: scale(0.8);
}

#works{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: rgba(0, 0, 0, 0.05);
    padding-bottom: 2rem;
    width: auto;

}

#trabalhos-recentes{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

#trabalhos-recentes h2{
    color: var(--primary-purple);
    font-weight: 700;
    margin: 1rem;
    font-size: 2rem;

}

#works-list {
    column-count: 2;
    column-gap: 0.5rem;
    transition: all ease-out 0.2s;
}

.wrapper {
    height: 90vh;
    overflow: auto;
    width: 90vw;
}

.work-item {
    display: -webkit-inline-box;
    position: relative;
    border-radius: 1rem;
    height: auto;
    margin-bottom: 0.5rem;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
    background: white;
    transition: all ease-out 0.2s;
    width: 100%;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: linear-gradient(145deg, rgba(99,17,225,0.8) 0%, rgba(214,29,224,0.8) 83%, rgba(7,224,179,0.8) 100%);
  border-radius: 1rem;
}

.work-item:hover {
    transform: scale(0.98);
}

.work-item:hover .overlay {
  opacity: 1;
}

.work-item img {
    max-width: 100%;
    border-radius: 1rem;
}

.work-item h4 {
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-weight: 700;
  width: 90%;
}

#convite-contato {
    display: flex;
    flex-flow: column wrap;
    background: rgb(99,17,225);
    background: linear-gradient(145deg, rgba(99,17,225,1) 0%, rgba(214,29,224,1) 83%, rgba(7,224,179,1) 100%);
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 1rem;
    padding: 3rem;
    border-radius: 2rem;
}

#convite-contato h3 {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    text-align: center;
    width: 80%;
}

#convite-contato p {
    color: white;
    text-align: center;
    width: 60%;
}

#convite-contato a {
    text-align: center;
    width: 40%;

}

#feedbacks {
    color: var(--primary-purple);
    font-weight: 700;
    margin-top: 1rem;
    text-align: center;
}

.feedback {
    padding: 1rem;
    background: rgba(0, 0, 0, 0.05);
    padding-top: 2rem;
}

.feedback h3 {
    text-align: center;
    color: var(--primary-purple);
    font-weight: 700;
    font-size: 2rem;
}

.feedback h4 {
    text-align: center;
    color: var(--secondary-pink);
    font-weight: 500;
    font-size: 1rem;
}

.feedback p {
    text-align: center;
}

.feedback a {
    display: block;
    text-align: center;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background: rgb(99,17,225);
    background: linear-gradient(145deg, rgba(99,17,225,1) 0%, rgba(214,29,224,1) 83%, rgba(7,224,179,1) 100%);
    margin-top: 2rem;
}

#footer-infos{
   margin: 2rem;
   color: white;
}

#footer-infos h3 {
   font-size: 1rem;
   font-weight: 700;
}

#footer-infos p {
   font-size: 0.8rem;
   font-weight: 400;
}

#footer-social {
   margin: 2rem;
   color: white;
}

#footer-social h3 {
   font-size: 1rem;
   font-weight: 700;
}