.button {
    text-transform: lowercase;
    font-weight: 500;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    border-radius: 50px;
}

.btn-theme-pink {
    background-color: var(--secondary-pink);
    border-color: var(--secondary-pink);
}

.btn-theme-pink:hover {
    background-color: var(--secondary-dark-pink);
    border-color: var(--secondary-dark-pink);
}

.btn-outline-theme-pink {
    border-color: var(--secondary-pink);
    color: var(--secondary-pink);
}

.btn-outline-theme-pink:hover {
    background-color: var(--secondary-dark-pink);
    border-color: var(--secondary-dark-pink);
    color: white;
}

.service-accord {
    margin: 0.3rem;
    width: 80vw;
    border-radius: 0.5rem;
}

.btn-theme-aquamarine {
    background-color: var(--details-aquamarine);
    border-color: var(--details-aquamarine);
    width: auto;
    margin-top: 0.5rem;
    box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.3);
    transform: scale(1.00);
    transition: all ease-out 0.2s;

}

.btn-theme-aquamarine:hover {
    background-color: var(--secondary-pink);
    border-color: var(--secondary-pink);
    box-shadow: none;
    transform: scale(0.95);
}